@font-face {
  font-family: Roboto;
  src: url($roboto);
}

@font-face {
  font-family: Roboto;
  src: url($roboto-bold);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url($roboto-italic);
  font-style: italic;
}

@mixin ClearMenu() {
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);

    background: $BGPrimary;
    border-radius: 18px !important;
    border: none !important;
}

@mixin ClearMenuForceful() {
    backdrop-filter: blur(3rem) !important;
    -webkit-backdrop-filter: blur(3rem) !important;

    background: $BGPrimary !important;
    border-radius: 18px !important;
    border: none !important;
}

@mixin ClearMenuNoRounding() {
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);

    background: $BGPrimary;
    border: none !important;
}

@mixin BorderByOption($style) {
    @if $style =="more" {
        border-radius: 18px;
    }

    @else {
        border-radius: 8px;
    }
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

html {
  body:not(.no-ember) {
    background:
      linear-gradient(
        0deg,
        rgb(var(--primary-rgb), 0.075) 0%,
        rgb(var(--primary-rgb), 0.075) 100%
      ),
      linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  }

  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
      90deg,
      var(--tertiary-hover) 0%,
      var(--tertiary) 100%
    );
    background-image: url("/uploads/default/original/1X/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -150px;
    clip-path: ellipse(148% 70% at 91% -14%);
  }

  body.no-ember .background-container {
    display: none;
  }
}

html body #main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  max-width: 1150px;
  padding-bottom: 5% !important; // overriding inline style
  box-shadow:
    0 24px 40px rgb(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgb(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgb(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgb(0, 0, 0, 0.0243888);

  
  @media screen and (width <= 700px) {
    padding: 1.5em;
    margin-top: 0;
  }

  @media screen and (width <= 1120px) {
    width: 80%;
  }

  @media screen and (width <= 1075px) {
    width: 85%;
  }

  .archetype-regular & {
    min-height: 500px;
  }
}

.d-header-wrap,
body.no-ember .d-header {
    @include BorderByOption("more");

    top: 5px;
    min-width: 95%;
    margin: 15px;

    text-align: center;
    display: block;
    position: relative;
    background: rgba(17, 18, 23, 0.8);
    box-shadow: 0px 0px !important;
    

    .d-header,
    &.d-header wrap {
        @include BorderByOption("more");

        top: 4px;
        //margin: 15px;
        width: 100%;
        box-shadow: 0px 0px !important;
        background-color: #111217;

        .wrap {
            @include ClearMenu();
        }
    }
}

body input,
body button,
body select,
body textarea {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  // Matched from https://material.io/components/cards/
  box-shadow:
    0 2px 1px -1px rgb(0, 0, 0, 0.2),
    0 1px 1px 0 rgb(0, 0, 0, 0.14),
    0 1px 3px 0 rgb(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  // Matched from https://material.io/components/buttons/
  box-shadow:
    0 3px 1px -2px rgb(0, 0, 0, 0.2),
    0 2px 2px 0 rgb(0, 0, 0, 0.14),
    0 1px 5px 0 rgb(0, 0, 0, 0.12);
}

@import "sidebar";

// raise and round buttons
.btn:not(
  .sidebar-section-header,
  .header-sidebar-toggle button,
  .user-menu-tab,
  .btn-flat,
  .btn-link,
  .btn-transparent
) {
  border-radius: 4px;

  @include boxShadow;

  &.btn-flat.close {
    box-shadow: none;
  }
}

// remove shadow from a few buttons
.d-editor-button-bar .btn.btn-icon,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link,
.dropdown-menu li .btn {
  border-radius: 0;
  box-shadow: none;
}

// Topic adjustments
.small-action {
  border-top: none;
  box-sizing: border-box;
  margin-block: 1em 0.5em;
  border: none;
  border-radius: 4px;
  box-shadow:
    0 2px 5px 0 rgb(0, 0, 0, 0.16),
    0 0 0 0 rgb(0, 0, 0, 0.12);
  max-width: 754px;
  padding-left: 20px;

  .desktop-view & {
    margin-left: calc(var(--topic-avatar-width) + 10px);
  }

  button {
    margin-left: 1em;
    background-color: var(--material-lighter-secondary);
  }

  .topic-avatar {
    display: none;
  }

  .small-action-desc {
    border: none;
  }
}

.read-state {
  right: 1em;
}

.gap {
  margin-top: 1em;
  padding-bottom: 0;
}

.post-notice {
  border: none;
  background: transparent;

  .desktop-view & {
    margin-left: 50px;
    margin-top: 0.75em;
  }
}

.popup-menu .btn {
  box-shadow: none;
}

// Personal messages
.archetype-private_message {
  .topic-body {
    box-shadow: none;

    .cooked {
      @include boxShadow;
    }
  }
}

// Admin
.admin-controls .nav-pills > li a.active {
  background: transparent;
}

// Chat
body.has-sidebar-page.has-full-page-chat #main-outlet-wrapper {
  gap: 2em;
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
  border: none;
}

.chat-channel-card {
  background: var(--primary-very-low);
  border: 1px solid;
  border-left: 5px solid;
  border-top-color: var(--primary-low) !important;
  border-bottom-color: var(--primary-low) !important;
  border-right-color: var(--primary-low) !important;
}

#main-outlet .topic-map {
  padding: 10px;
  margin-top: 0.75em;
  border: none;
  border-radius: 4px;
  box-shadow:
    0 2px 5px 0 rgb(0, 0, 0, 0.16),
    0 0 0 0 rgb(0, 0, 0, 0.12);

  .desktop-view & {
    padding: 15px 30px;
    max-width: 752px;
    margin-left: calc(var(--topic-avatar-width) + 10px);
  }
}

.topic-timer-info {
  border: none;
}

.extra-info-wrapper {
  .badge-category__wrapper .d-icon,
  .title-wrapper .topic-statuses .d-icon,
  .assigned-to .d-icon {
    color: var(--secondary);
  }
}

.category-breadcrumb {
  visibility: hidden;
  position: fixed;
}
